Dsl/GeneratedCode/WorkbenchSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="WorkbenchSchema" targetNamespace="http://schemas.microsoft.com/dsltools/Workbench" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/Workbench" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- NamedElement -->
  <xsd:element name="namedElement" abstract="true" type="NamedElement" />
  <xsd:complexType name="NamedElement" abstract="true" >
    <!-- Property: Name -->
    <xsd:attribute name="name" type="xsd:string" use="required" />
  </xsd:complexType>
  
  <!-- NamedElement Moniker -->
  <xsd:element name="namedElementMoniker" abstract="true" type="NamedElementMoniker" />
  <xsd:complexType name="NamedElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for NamedElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="name" type="xsd:string" >
      <xsd:annotation>
        <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  
  <!-- ModelRoot -->
  <xsd:element name="modelRoot" type="ModelRoot" substitutionGroup="namedElement" />
  <xsd:complexType name="ModelRoot">
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ModelRootHasComments -->
          <xsd:element name="comments" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelRootHasComments</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="modelRootHasComments">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from ModelRootHasComments needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="comment" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: HasObjectModelSpec -->
          <xsd:element name="objectModelSpec" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of HasObjectModelSpec</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="1" >
                  <xsd:element ref="hasObjectModelSpec">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from HasObjectModelSpec needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="objectModelSpec" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: HasCaseFileModelSpec -->
          <xsd:element name="caseFileModelSpecs" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of HasCaseFileModelSpec</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="hasCaseFileModelSpec">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from HasCaseFileModelSpec needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="caseFileModelSpec" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelRoot Moniker -->
  <xsd:element name="modelRootMoniker" type="ModelRootMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="ModelRootMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelRoot instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelAttribute -->
  <xsd:element name="modelAttribute" type="ModelAttribute" substitutionGroup="objectModelElement" />
  <xsd:complexType name="ModelAttribute">
    <xsd:annotation>
      <xsd:documentation>An attribute of a class.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ObjectModelElement">
        <!-- Property: Type -->
        <xsd:attribute name="type" type="xsd:string" />
        <!-- Property: InitialValue -->
        <xsd:attribute name="initialValue" type="xsd:string" />
        <!-- Property: Required -->
        <xsd:attribute name="required" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelAttribute Moniker -->
  <xsd:element name="modelAttributeMoniker" type="ModelAttributeMoniker" substitutionGroup="objectModelElementMoniker" />
  <xsd:complexType name="ModelAttributeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelAttribute instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ObjectModelElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Comment -->
  <xsd:element name="comment" type="Comment" />
  <xsd:complexType name="Comment">
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Relationship: CommentReferencesSubjects -->
      <xsd:element name="subjects" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Instances of CommentReferencesSubjects</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="unbounded" >
              <xsd:element ref="commentReferencesSubjects">
                <xsd:annotation>
                  <xsd:documentation>[Relationship deriving from CommentReferencesSubjects needs to be serialized in full-form]</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element ref="modelTypeMoniker" >
                <xsd:annotation>
                  <xsd:documentation>[Target role-player]</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:choice>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <!-- Id -->
    <xsd:attribute name="Id" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <!-- Property: Text -->
    <xsd:attribute name="text" type="xsd:string" />
  </xsd:complexType>
  
  <!-- Comment Moniker -->
  <xsd:element name="commentMoniker" type="CommentMoniker" />
  <xsd:complexType name="CommentMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Comment instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="Id" type="xsd:string" >
      <xsd:annotation>
        <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  
  <!-- ModelType -->
  <xsd:element name="modelType" abstract="true" type="ModelType" substitutionGroup="objectModelElement" />
  <xsd:complexType name="ModelType" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="ObjectModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ModelTypeHasAttributes -->
          <xsd:element name="attributes" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelTypeHasAttributes</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="modelTypeHasAttributes">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from ModelTypeHasAttributes needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="modelAttribute" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ModelTypeReferencesModelComplexTypes -->
          <xsd:element name="modelComplexTypes" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelTypeReferencesModelComplexTypes</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modelTypeReferencesModelComplexTypes" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModelTypeReferencesModelComplexTypes needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelType Moniker -->
  <xsd:element name="modelTypeMoniker" abstract="true" type="ModelTypeMoniker" substitutionGroup="objectModelElementMoniker" />
  <xsd:complexType name="ModelTypeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelType instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ObjectModelElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ObjectModelElement -->
  <xsd:element name="objectModelElement" abstract="true" type="ObjectModelElement" substitutionGroup="namedElement" />
  <xsd:complexType name="ObjectModelElement" abstract="true" >
    <xsd:annotation>
      <xsd:documentation>Element with a Description</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <!-- Property: Description -->
        <xsd:attribute name="description" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>This is a Description.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ObjectModelElement Moniker -->
  <xsd:element name="objectModelElementMoniker" abstract="true" type="ObjectModelElementMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="ObjectModelElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ObjectModelElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ObjectModelSpec -->
  <xsd:element name="objectModelSpec" type="ObjectModelSpec" substitutionGroup="namedElement" />
  <xsd:complexType name="ObjectModelSpec">
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ObjectModelSpecHasTypes -->
          <xsd:element name="types" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ObjectModelSpecHasTypes</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="objectModelSpecHasTypes">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from ObjectModelSpecHasTypes needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="modelType" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Property: Self -->
        <xsd:attribute name="self" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ObjectModelSpec Moniker -->
  <xsd:element name="objectModelSpecMoniker" type="ObjectModelSpecMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="ObjectModelSpecMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ObjectModelSpec instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CaseFileModelSpec -->
  <xsd:element name="caseFileModelSpec" type="CaseFileModelSpec" substitutionGroup="namedElement" />
  <xsd:complexType name="CaseFileModelSpec">
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: CaseFileModelSpecHasCaseFileTypes -->
          <xsd:element name="caseFileTypes" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of CaseFileModelSpecHasCaseFileTypes</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="caseFileModelSpecHasCaseFileTypes">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from CaseFileModelSpecHasCaseFileTypes needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="caseFileType" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: RootCaseFileEntity -->
          <xsd:element name="caseFileRootEntity" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of RootCaseFileEntity</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="1" >
                  <xsd:element ref="rootCaseFileEntity">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from RootCaseFileEntity needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="caseFileEntityMoniker" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Property: UriTemplate -->
        <xsd:attribute name="uriTemplate" type="xsd:string" />
        <!-- Property: Self -->
        <xsd:attribute name="self" type="xsd:string" />
        <!-- Property: ObjectModelSpec -->
        <xsd:attribute name="objectModelSpec" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CaseFileModelSpec Moniker -->
  <xsd:element name="caseFileModelSpecMoniker" type="CaseFileModelSpecMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="CaseFileModelSpecMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CaseFileModelSpec instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CaseFileType -->
  <xsd:element name="caseFileType" abstract="true" type="CaseFileType" substitutionGroup="namedElement" />
  <xsd:complexType name="CaseFileType" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CaseFileType Moniker -->
  <xsd:element name="caseFileTypeMoniker" abstract="true" type="CaseFileTypeMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="CaseFileTypeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CaseFileType instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CaseFileEntity -->
  <xsd:element name="caseFileEntity" type="CaseFileEntity" substitutionGroup="caseFileType" />
  <xsd:complexType name="CaseFileEntity">
    <xsd:complexContent>
      <xsd:extension base="CaseFileType">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: CaseFileEntityReferencesChildCaseFileRelations -->
          <xsd:element name="childCaseFileRelations" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of CaseFileEntityReferencesChildCaseFileRelations</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="caseFileEntityReferencesChildCaseFileRelations">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from CaseFileEntityReferencesChildCaseFileRelations needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="caseFileRelationMoniker" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: CaseFileEntityReferencesModelEntity -->
          <xsd:element name="modelEntity" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of CaseFileEntityReferencesModelEntity</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="1" >
                  <xsd:element ref="caseFileEntityReferencesModelEntity">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from CaseFileEntityReferencesModelEntity needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="modelEntityMoniker" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CaseFileEntity Moniker -->
  <xsd:element name="caseFileEntityMoniker" type="CaseFileEntityMoniker" substitutionGroup="caseFileTypeMoniker" />
  <xsd:complexType name="CaseFileEntityMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CaseFileEntity instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CaseFileTypeMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CaseFileRelation -->
  <xsd:element name="caseFileRelation" type="CaseFileRelation" substitutionGroup="caseFileType" />
  <xsd:complexType name="CaseFileRelation">
    <xsd:complexContent>
      <xsd:extension base="CaseFileType">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: CaseFileRelationReferencesChildCaseFileEntity -->
          <xsd:element name="childCaseFileEntity" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of CaseFileRelationReferencesChildCaseFileEntity</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="1" >
                  <xsd:element ref="caseFileRelationReferencesChildCaseFileEntity">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from CaseFileRelationReferencesChildCaseFileEntity needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="caseFileEntityMoniker" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: CaseFileRelationReferencesModelRelation -->
          <xsd:element name="modelRelation" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of CaseFileRelationReferencesModelRelation</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="1" >
                  <xsd:element ref="caseFileRelationReferencesModelRelation">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from CaseFileRelationReferencesModelRelation needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="modelRelationMoniker" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CaseFileRelation Moniker -->
  <xsd:element name="caseFileRelationMoniker" type="CaseFileRelationMoniker" substitutionGroup="caseFileTypeMoniker" />
  <xsd:complexType name="CaseFileRelationMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CaseFileRelation instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CaseFileTypeMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelRelation -->
  <xsd:element name="modelRelation" type="ModelRelation" substitutionGroup="modelType" />
  <xsd:complexType name="ModelRelation">
    <xsd:complexContent>
      <xsd:extension base="ModelType">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: RelationHasEntity -->
          <xsd:element name="modelEntity" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of RelationHasEntity</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="1" >
                  <xsd:element ref="relationHasEntity">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from RelationHasEntity needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="modelEntityMoniker" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelRelation Moniker -->
  <xsd:element name="modelRelationMoniker" type="ModelRelationMoniker" substitutionGroup="modelTypeMoniker" />
  <xsd:complexType name="ModelRelationMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelRelation instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ModelTypeMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelComplexType -->
  <xsd:element name="modelComplexType" type="ModelComplexType" substitutionGroup="modelType" />
  <xsd:complexType name="ModelComplexType">
    <xsd:complexContent>
      <xsd:extension base="ModelType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelComplexType Moniker -->
  <xsd:element name="modelComplexTypeMoniker" type="ModelComplexTypeMoniker" substitutionGroup="modelTypeMoniker" />
  <xsd:complexType name="ModelComplexTypeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelComplexType instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ModelTypeMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelEntity -->
  <xsd:element name="modelEntity" type="ModelEntity" substitutionGroup="modelType" />
  <xsd:complexType name="ModelEntity">
    <xsd:complexContent>
      <xsd:extension base="ModelType">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: EntityHasRelations -->
          <xsd:element name="toRelations" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EntityHasRelations</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="entityHasRelations">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from EntityHasRelations needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="modelRelationMoniker" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelEntity Moniker -->
  <xsd:element name="modelEntityMoniker" type="ModelEntityMoniker" substitutionGroup="modelTypeMoniker" />
  <xsd:complexType name="ModelEntityMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelEntity instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ModelTypeMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelRootHasComments -->
  <xsd:element name="modelRootHasComments" abstract="true" type="ModelRootHasComments" />
  <xsd:complexType name="ModelRootHasComments" abstract="true" >
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end Comment -->
      <xsd:element ref="comment" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- ModelRootHasComments Moniker -->
  <xsd:element name="modelRootHasCommentsMoniker" abstract="true" type="ModelRootHasCommentsMoniker" />
  <xsd:complexType name="ModelRootHasCommentsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelRootHasComments instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
  <!-- CommentReferencesSubjects -->
  <xsd:element name="commentReferencesSubjects" abstract="true" type="CommentReferencesSubjects" />
  <xsd:complexType name="CommentReferencesSubjects" abstract="true" >
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end ModelType -->
      <xsd:element ref="modelTypeMoniker" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- CommentReferencesSubjects Moniker -->
  <xsd:element name="commentReferencesSubjectsMoniker" abstract="true" type="CommentReferencesSubjectsMoniker" />
  <xsd:complexType name="CommentReferencesSubjectsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CommentReferencesSubjects instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
  <!-- HasObjectModelSpec -->
  <xsd:element name="hasObjectModelSpec" abstract="true" type="HasObjectModelSpec" />
  <xsd:complexType name="HasObjectModelSpec" abstract="true" >
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end ObjectModelSpec -->
      <xsd:element ref="objectModelSpec" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- HasObjectModelSpec Moniker -->
  <xsd:element name="hasObjectModelSpecMoniker" abstract="true" type="HasObjectModelSpecMoniker" />
  <xsd:complexType name="HasObjectModelSpecMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for HasObjectModelSpec instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
  <!-- ObjectModelSpecHasTypes -->
  <xsd:element name="objectModelSpecHasTypes" abstract="true" type="ObjectModelSpecHasTypes" />
  <xsd:complexType name="ObjectModelSpecHasTypes" abstract="true" >
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end ModelType -->
      <xsd:element ref="modelType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- ObjectModelSpecHasTypes Moniker -->
  <xsd:element name="objectModelSpecHasTypesMoniker" abstract="true" type="ObjectModelSpecHasTypesMoniker" />
  <xsd:complexType name="ObjectModelSpecHasTypesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ObjectModelSpecHasTypes instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
  <!-- HasCaseFileModelSpec -->
  <xsd:element name="hasCaseFileModelSpec" abstract="true" type="HasCaseFileModelSpec" />
  <xsd:complexType name="HasCaseFileModelSpec" abstract="true" >
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end CaseFileModelSpec -->
      <xsd:element ref="caseFileModelSpec" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- HasCaseFileModelSpec Moniker -->
  <xsd:element name="hasCaseFileModelSpecMoniker" abstract="true" type="HasCaseFileModelSpecMoniker" />
  <xsd:complexType name="HasCaseFileModelSpecMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for HasCaseFileModelSpec instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
  <!-- CaseFileModelSpecHasCaseFileTypes -->
  <xsd:element name="caseFileModelSpecHasCaseFileTypes" abstract="true" type="CaseFileModelSpecHasCaseFileTypes" />
  <xsd:complexType name="CaseFileModelSpecHasCaseFileTypes" abstract="true" >
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end CaseFileType -->
      <xsd:element ref="caseFileType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- CaseFileModelSpecHasCaseFileTypes Moniker -->
  <xsd:element name="caseFileModelSpecHasCaseFileTypesMoniker" abstract="true" type="CaseFileModelSpecHasCaseFileTypesMoniker" />
  <xsd:complexType name="CaseFileModelSpecHasCaseFileTypesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CaseFileModelSpecHasCaseFileTypes instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
  <!-- ModelTypeHasAttributes -->
  <xsd:element name="modelTypeHasAttributes" abstract="true" type="ModelTypeHasAttributes" />
  <xsd:complexType name="ModelTypeHasAttributes" abstract="true" >
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end ModelAttribute -->
      <xsd:element ref="modelAttribute" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- ModelTypeHasAttributes Moniker -->
  <xsd:element name="modelTypeHasAttributesMoniker" abstract="true" type="ModelTypeHasAttributesMoniker" />
  <xsd:complexType name="ModelTypeHasAttributesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelTypeHasAttributes instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
  <!-- EntityHasRelations -->
  <xsd:element name="entityHasRelations" abstract="true" type="EntityHasRelations" />
  <xsd:complexType name="EntityHasRelations" abstract="true" >
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end ModelRelation -->
      <xsd:element ref="modelRelationMoniker" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- EntityHasRelations Moniker -->
  <xsd:element name="entityHasRelationsMoniker" abstract="true" type="EntityHasRelationsMoniker" />
  <xsd:complexType name="EntityHasRelationsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EntityHasRelations instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
  <!-- RelationHasEntity -->
  <xsd:element name="relationHasEntity" abstract="true" type="RelationHasEntity" />
  <xsd:complexType name="RelationHasEntity" abstract="true" >
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end ModelEntity -->
      <xsd:element ref="modelEntityMoniker" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- RelationHasEntity Moniker -->
  <xsd:element name="relationHasEntityMoniker" abstract="true" type="RelationHasEntityMoniker" />
  <xsd:complexType name="RelationHasEntityMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RelationHasEntity instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
  <!-- ModelTypeReferencesModelComplexTypes -->
  <xsd:element name="modelTypeReferencesModelComplexTypes" type="ModelTypeReferencesModelComplexTypes" />
  <xsd:complexType name="ModelTypeReferencesModelComplexTypes">
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end ModelComplexType -->
      <xsd:element ref="modelComplexTypeMoniker" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <!-- Property: ContainerName -->
    <xsd:attribute name="containerName" type="xsd:string" />
    <!-- Property: IsCollection -->
    <xsd:attribute name="isCollection" type="xsd:boolean" />
  </xsd:complexType>
  
  <!-- ModelTypeReferencesModelComplexTypes Moniker -->
  <xsd:element name="modelTypeReferencesModelComplexTypesMoniker" abstract="true" type="ModelTypeReferencesModelComplexTypesMoniker" />
  <xsd:complexType name="ModelTypeReferencesModelComplexTypesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelTypeReferencesModelComplexTypes instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
  <!-- CaseFileEntityReferencesChildCaseFileRelations -->
  <xsd:element name="caseFileEntityReferencesChildCaseFileRelations" abstract="true" type="CaseFileEntityReferencesChildCaseFileRelations" />
  <xsd:complexType name="CaseFileEntityReferencesChildCaseFileRelations" abstract="true" >
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end CaseFileRelation -->
      <xsd:element ref="caseFileRelationMoniker" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- CaseFileEntityReferencesChildCaseFileRelations Moniker -->
  <xsd:element name="caseFileEntityReferencesChildCaseFileRelationsMoniker" abstract="true" type="CaseFileEntityReferencesChildCaseFileRelationsMoniker" />
  <xsd:complexType name="CaseFileEntityReferencesChildCaseFileRelationsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CaseFileEntityReferencesChildCaseFileRelations instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
  <!-- CaseFileRelationReferencesChildCaseFileEntity -->
  <xsd:element name="caseFileRelationReferencesChildCaseFileEntity" abstract="true" type="CaseFileRelationReferencesChildCaseFileEntity" />
  <xsd:complexType name="CaseFileRelationReferencesChildCaseFileEntity" abstract="true" >
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end CaseFileEntity -->
      <xsd:element ref="caseFileEntityMoniker" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- CaseFileRelationReferencesChildCaseFileEntity Moniker -->
  <xsd:element name="caseFileRelationReferencesChildCaseFileEntityMoniker" abstract="true" type="CaseFileRelationReferencesChildCaseFileEntityMoniker" />
  <xsd:complexType name="CaseFileRelationReferencesChildCaseFileEntityMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CaseFileRelationReferencesChildCaseFileEntity instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
  <!-- RootCaseFileEntity -->
  <xsd:element name="rootCaseFileEntity" abstract="true" type="RootCaseFileEntity" />
  <xsd:complexType name="RootCaseFileEntity" abstract="true" >
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end CaseFileEntity -->
      <xsd:element ref="caseFileEntityMoniker" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- RootCaseFileEntity Moniker -->
  <xsd:element name="rootCaseFileEntityMoniker" abstract="true" type="RootCaseFileEntityMoniker" />
  <xsd:complexType name="RootCaseFileEntityMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RootCaseFileEntity instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
  <!-- CaseFileEntityReferencesModelEntity -->
  <xsd:element name="caseFileEntityReferencesModelEntity" abstract="true" type="CaseFileEntityReferencesModelEntity" />
  <xsd:complexType name="CaseFileEntityReferencesModelEntity" abstract="true" >
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end ModelEntity -->
      <xsd:element ref="modelEntityMoniker" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- CaseFileEntityReferencesModelEntity Moniker -->
  <xsd:element name="caseFileEntityReferencesModelEntityMoniker" abstract="true" type="CaseFileEntityReferencesModelEntityMoniker" />
  <xsd:complexType name="CaseFileEntityReferencesModelEntityMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CaseFileEntityReferencesModelEntity instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
  <!-- CaseFileRelationReferencesModelRelation -->
  <xsd:element name="caseFileRelationReferencesModelRelation" abstract="true" type="CaseFileRelationReferencesModelRelation" />
  <xsd:complexType name="CaseFileRelationReferencesModelRelation" abstract="true" >
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <!-- Target end ModelRelation -->
      <xsd:element ref="modelRelationMoniker" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>[Target role-player]</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- CaseFileRelationReferencesModelRelation Moniker -->
  <xsd:element name="caseFileRelationReferencesModelRelationMoniker" abstract="true" type="CaseFileRelationReferencesModelRelationMoniker" />
  <xsd:complexType name="CaseFileRelationReferencesModelRelationMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CaseFileRelationReferencesModelRelation instance.</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  
</xsd:schema>

